ion-content {
    color: #333;
    .ss-card {
        margin: 10% 20px;
        ion-card-header {
            background: #1f3366;
            color: #fff;
            font-size: 16px;
        }
        ion-label {
            color: #222;
            font-size: 12px;
        }
    }
}