<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title slot="start">
            <img alt="logo" id="header_logo" height="40" float-left src="assets/images/logo_signup.png">
        </ion-title>
        <div class="heade_extra_menu" slot="end">
            <!-- <div> Back </div> -->
            <div>
                <ion-icon name="videocam"></ion-icon> Video Help <span>1</span>
            </div>
        </div>


    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="personal-card" routerLink="/select-country">
        <ion-card-content text-center>
            <div class="icon_countryy"><img height="153" width="160" src="assets/images/icon_cuntry.png" /></div>
            Select Country
        </ion-card-content>
    </ion-card>

    <ion-card class="personal-card" routerLink="/registerparent">
        <ion-card-content text-center>
            <div class="icon_countryy"><img height="153" width="160" src="assets/images/icon_plan.png" /></div>
            Choose Plan
        </ion-card-content>
    </ion-card>

    <ion-card class="personal-card" routerLink="/registerparent">
        <ion-card-content text-center>
            <div class="icon_countryy"><img height="153" width="160" src="assets/images/icon_account.png" /></div>
            Create Account
        </ion-card-content>
    </ion-card>

</ion-content>