ion-content {
    ion-card-content {
        color: #064f90;
        font-size: 20px;
        font-weight: bold;
        .icon_countryy {
            width: 160px;
            margin: 10px auto;
        }
    }
}