ion-content {
    color: #333;
    .ss-card {
        margin: 10% 20px;
        ion-card-header {
            background: #0078ae;
            color: #fff;
            font-size: 16px;
        }
        ion-label {
            color: #0078ae;
        }
    }
}

.course p{
    color:#0078ae;
    font-size:16px;
}

.course span{
    font-size:12px;
}